src/GHTS/.vs/GHTS/DesignTimeBuild/.dtbcache
src/GHTS/.vs/GHTS/v16/Server/sqlite3/db.lock
src/GHTS/.vs/GHTS/v16/Server/sqlite3/storage.ide
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/appsettings.json
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/GHTS.API.deps.json
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/GHTS.API.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/GHTS.API.exe
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/GHTS.API.pdb
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/GHTS.API.runtimeconfig.dev.json
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/GHTS.API.runtimeconfig.json
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/GHTS/GHTS.API/obj/GHTS.API.csproj.nuget.cache
src/GHTS/GHTS.API/obj/GHTS.API.csproj.nuget.dgspec.json
src/GHTS/GHTS.API/obj/GHTS.API.csproj.nuget.g.props
src/GHTS/GHTS.API/obj/GHTS.API.csproj.nuget.g.targets
src/GHTS/GHTS.API/obj/project.assets.json
src/GHTS/GHTS.API/obj/Debug/netcoreapp3.1/GHTS.API.AssemblyInfo.cs
src/GHTS/GHTS.API/obj/Debug/netcoreapp3.1/GHTS.API.AssemblyInfoInputs.cache
src/GHTS/GHTS.API/obj/Debug/netcoreapp3.1/GHTS.API.assets.cache
src/GHTS/GHTS.API/obj/Debug/netcoreapp3.1/GHTS.API.csproj.CopyComplete
src/GHTS/GHTS.API/obj/Debug/netcoreapp3.1/GHTS.API.csproj.FileListAbsolute.txt
src/GHTS/GHTS.API/obj/Debug/netcoreapp3.1/GHTS.API.csprojAssemblyReference.cache
src/GHTS/GHTS.API/obj/Debug/netcoreapp3.1/GHTS.API.dll
src/GHTS/GHTS.API/obj/Debug/netcoreapp3.1/GHTS.API.exe
src/GHTS/GHTS.API/obj/Debug/netcoreapp3.1/GHTS.API.MvcApplicationPartsAssemblyInfo.cache
src/GHTS/GHTS.API/obj/Debug/netcoreapp3.1/GHTS.API.pdb
src/GHTS/GHTS.API/obj/Debug/netcoreapp3.1/GHTS.API.RazorTargetAssemblyInfo.cache
src/GHTS/GHTS.API/obj/Debug/netcoreapp3.1/staticwebassets/GHTS.API.StaticWebAssets.Manifest.cache
src/GHTS/GHTS.API/obj/Debug/netcoreapp3.1/staticwebassets/GHTS.API.StaticWebAssets.xml
src/GHTS/GHTS.DTO/obj/GHTS.DTO.csproj.nuget.cache
src/GHTS/GHTS.DTO/obj/GHTS.DTO.csproj.nuget.dgspec.json
src/GHTS/GHTS.DTO/obj/GHTS.DTO.csproj.nuget.g.props
src/GHTS/GHTS.DTO/obj/GHTS.DTO.csproj.nuget.g.targets
src/GHTS/GHTS.DTO/obj/project.assets.json
src/GHTS/GHTS.DTO/obj/Debug/netcoreapp3.1/GHTS.DTO.AssemblyInfo.cs
src/GHTS/GHTS.DTO/obj/Debug/netcoreapp3.1/GHTS.DTO.AssemblyInfoInputs.cache
src/GHTS/GHTS.DTO/obj/Debug/netcoreapp3.1/GHTS.DTO.assets.cache
src/GHTS/GHTS.DTO/obj/Debug/netcoreapp3.1/GHTS.DTO.csprojAssemblyReference.cache
src/GHTS/GHTS.Common/obj/GHTS.Common.csproj.nuget.cache
src/GHTS/GHTS.Common/obj/GHTS.Common.csproj.nuget.dgspec.json
src/GHTS/GHTS.Common/obj/GHTS.Common.csproj.nuget.g.props
src/GHTS/GHTS.Common/obj/GHTS.Common.csproj.nuget.g.targets
src/GHTS/GHTS.Common/obj/project.assets.json
src/GHTS/GHTS.Common/obj/Debug/netcoreapp3.1/GHTS.Common.AssemblyInfo.cs
src/GHTS/GHTS.Common/obj/Debug/netcoreapp3.1/GHTS.Common.AssemblyInfoInputs.cache
src/GHTS/GHTS.Common/obj/Debug/netcoreapp3.1/GHTS.Common.assets.cache
src/GHTS/GHTS.Common/obj/Debug/netcoreapp3.1/GHTS.Common.csprojAssemblyReference.cache
src/GHTS/GHTS.ICommon/obj/GHTS.ICommon.csproj.nuget.cache
src/GHTS/GHTS.ICommon/obj/GHTS.ICommon.csproj.nuget.dgspec.json
src/GHTS/GHTS.ICommon/obj/GHTS.ICommon.csproj.nuget.g.props
src/GHTS/GHTS.ICommon/obj/GHTS.ICommon.csproj.nuget.g.targets
src/GHTS/GHTS.ICommon/obj/project.assets.json
src/GHTS/GHTS.ICommon/obj/Debug/netcoreapp3.1/GHTS.ICommon.AssemblyInfo.cs
src/GHTS/GHTS.ICommon/obj/Debug/netcoreapp3.1/GHTS.ICommon.AssemblyInfoInputs.cache
src/GHTS/GHTS.ICommon/obj/Debug/netcoreapp3.1/GHTS.ICommon.assets.cache
src/GHTS/GHTS.ICommon/obj/Debug/netcoreapp3.1/GHTS.ICommon.csprojAssemblyReference.cache
src/GHTS/.vs/GHTS/v16/.suo
src/GHTS/.vs/GHTS/v16/Server/sqlite3/storage.ide-shm
src/GHTS/.vs/GHTS/v16/Server/sqlite3/storage.ide-wal
src/GHTS/.vs/GHTS/v16/.suo
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/GHTS.Common.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/GHTS.Common.pdb
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/GHTS.DTO.dll
src/GHTS/GHTS.API/bin/Debug/netcoreapp3.1/GHTS.DTO.pdb
src/GHTS/GHTS.DTO/bin/Debug/netcoreapp3.1/GHTS.Common.dll
src/GHTS/GHTS.DTO/bin/Debug/netcoreapp3.1/GHTS.Common.pdb
src/GHTS/GHTS.DTO/bin/Debug/netcoreapp3.1/GHTS.DTO.deps.json
src/GHTS/GHTS.DTO/bin/Debug/netcoreapp3.1/GHTS.DTO.dll
src/GHTS/GHTS.DTO/bin/Debug/netcoreapp3.1/GHTS.DTO.pdb
src/GHTS/GHTS.DTO/obj/Debug/netcoreapp3.1/GHTS.DTO.csproj.CopyComplete
src/GHTS/GHTS.DTO/obj/Debug/netcoreapp3.1/GHTS.DTO.csproj.FileListAbsolute.txt
src/GHTS/GHTS.DTO/obj/Debug/netcoreapp3.1/GHTS.DTO.dll
src/GHTS/GHTS.DTO/obj/Debug/netcoreapp3.1/GHTS.DTO.pdb
src/GHTS/GHTS.Common/bin/Debug/netcoreapp3.1/GHTS.Common.deps.json
src/GHTS/GHTS.Common/bin/Debug/netcoreapp3.1/GHTS.Common.dll
src/GHTS/GHTS.Common/bin/Debug/netcoreapp3.1/GHTS.Common.pdb
src/GHTS/GHTS.Common/obj/Debug/netcoreapp3.1/GHTS.Common.csproj.FileListAbsolute.txt
src/GHTS/GHTS.Common/obj/Debug/netcoreapp3.1/GHTS.Common.dll
src/GHTS/GHTS.Common/obj/Debug/netcoreapp3.1/GHTS.Common.pdb
src/GHTS/.vs/GHTS/v16/.suo
src/GHTS/.vs/GHTS/v16/.suo
