<div class="vh-100">
    <div class="vh-100 container">
        <div class="vh-100 row align-items-center">
                <div class="col-4 text-center">
                    <button class="btn btn-danger btn-lg p-2">Potrzebuję pomocy<br><i class="fas fa-people-carry"></i></button>
                </div>
                <div class="col-4 text-center">
                    <button class="btn btn-success btn-lg p-2" routerLink="tickets">Wyświetl zgłoszenia<br><i class="fas fa-clipboard-list"></i></button>
                </div>
                <div class="col-4 text-center">
                    <button class="btn btn-primary btn-lg p-2">Chcę pomóc<br><i class="fas fa-hands-helping"></i></button>
                </div>
        </div>
    </div>
</div>