<div *ngIf="ticket">

    <div class="d-flex flex-row mt-3 ticket" (click)="show = !show">
        <div class="p-2"><strong>{{ticket.id}}</strong></div>
        <div class="p-2 flex-fill flex-grow">{{ticket.title}}
        </div>
        <div class="p-2 align-self-start" [ngClass]="{'bg-danger': ticket.priority=='3', 'bg-warning': ticket.priority=='2', 'bg-success': ticket.priority=='1'}"><strong>&nbsp; &nbsp;{{ticket.priority}}</strong></div>
    </div>

    <!-- Dodatkowy opis do zgloszenia -->
    <div class="d-flex flex-row bg-light ticketInfo" [class.opened]="show">
        <div class="p-2">
            <strong>Kontakt: </strong>
            <p>511 000 333</p>
            <p>Janusz K</p>
            <p>Szczecin<br>
                71-634
                Belgijska 15/5</p>
        </div>
        <div class="p-2 flex-fill"> <strong>Dodatkowe informacje:</strong>
            <p>{{ticket.description}}</p>
        </div>
        <div class="p-2 flex-fill align-self-start"><strong>Chcesz pomóc?</strong><button
                class="btn btn-secondary btn-lg rounded-5 mt-2">Pomagam</button></div>
    </div>
</div>